#recuadro10{
    -ms-transform: scale(0.8 , 1.2);
    -webkit-transform: scale(0.8 , 1.2);
    -moz-transform: scale(0.8 , 1.2);
    -o-transform: scale(0.8 , 1.2);
    transform: scale(0.8 , 1.2);
  
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  
    border-radius: 20px;  
    background-color:#ddd;
    width:200px;
    padding:10px;
  }