#recuadro29{
    margin:5px;
    border-radius: 20px;  
    background-color:#eee;
    width:200px;
    padding:10px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -moz-transition-property: width;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.5s;
    -ms-transition-property: width;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: linear;
    -ms-transition-delay: 0.5s;
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    -o-transition-property: width;
    -o-transition-duration: 1s;
    -o-transition-timing-function: linear;
    -o-transition-delay: 0.5s;
  }
  
  #recuadro29:hover{
    width:300px;
  }