#recuadro8{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 20px;  
    background-color:#ddd;
    width:200px;
    padding:10px;
  }